.block {
    margin-top: 3px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(8);
    border: 1px solid var(--local-color, var(--color-border));
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    flex-shrink: 0;
    max-height: 200px;
    overflow-y: auto;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.row {
    display: flex;
    padding: 4px 10px;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s ease;

}

.row:hover {
    background-color: var(--disabled-background);
}

.block .row:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.block .row:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user h3 {
    color: var(--color-text-primary);
}