.customTextarea{
  margin-top: 4px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  background-color: white;
  font-size: 14px;
  font-family: inherit;
  color: black;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  min-height: 150px;
}