.main {
    display: flex;
}

.burgerMenu {
    padding: 35px 0 0 15px;
}

.backdrop {
    display: none;
}

.projectSettingsIcon{
    display: none;
}

.fabGroup {
    position: fixed;
    bottom: 36px;
    right: 36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    z-index: 999;
    /*transition: right 0.3s ease;*/
}

@media (min-width: 1024px) {
    .fabGroup.panelOpen {
        right: 376px;
    }
    .fabGroup.panelOpen.aiChatOpen {
        right: 436px;
    }
}

@media (max-width: 1024px) {
    .backdrop {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(2px);
        z-index: 1000;
    }
    .burgerMenu{
        display: none;
    }
    .projectSettingsIcon{
        display: flex;
    }
}

@media (max-width: 550px) {
    .fabGroup{
        gap: 10px;
        right: 15px;
    }
}

@media (max-width: 400px) {
    .fabGroup{
        gap: 7px;
    }
}