.main{
    max-width: 400px;
    flex-shrink: 0;
    height: 100%;
    min-height: calc(100vh - 100px);
    z-index: 1001;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.rightPanelChild{
    height: calc(100vh - 100px - 30px - 50px - 45px);
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    display: flex;
    flex-direction: column;
}

.rightPanelChild::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}
.rightPanelChild input{
    margin: 0;
}

@media (max-width: 1024px) {
    .main {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100vh !important;
        min-height: 100vh !important;
        /*width: 100%;*/
        /*max-width: 420px; !* Або 100% на зовсім малих мобілках *!*/
        z-index: 1010;   /* Більше за backdrop (1000), щоб бути ПОВЕРХ блюра */
        /*box-shadow: -4px 0 20px rgba(0, 0, 0, 0.5);*/
        overflow: hidden !important;
        /*overflow-y: auto;*/
    }
    .rightPanelChild,
    .rightPanelChildEdit {
        height: auto !important;
        max-height: 100% !important;
        overflow-y: auto !important;
        /*min-height: 100%;*/
        -webkit-overflow-scrolling: touch; /* Плавний скрол на iOS */
        padding-bottom: 50px;
    }
}

@media (max-width: 500px) {
    .main {
        max-width: 100%; /* На мобілках займає весь екран */
    }
}