.element {
    border: var(--border-default);
    border-radius: 12px;
    padding: 16px;
    background-color: var(--bg-card);
    box-shadow: var(--container-box-shadow);
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
}

.element h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-text-main);
    margin-bottom: 4px;
}

.element p {
    font-size: 14px;
    color: var(--color-text-muted);
}

.settingIconWrapper {
    display: inline-block;
}

.settingIconWrapper:hover .settingsIcon {
    color: var(--local-hover-color);
}

.settingsIcon {
    cursor: pointer;
    transition: color 0.3s ease;
}

.element:hover {
    background-color: var(--local-light-bg);
}

.purple {
    --local-light-bg: var(--color-purple-light);
    --local-hover-color: var(--color-purple);
}

.green {
    --local-light-bg: var(--color-green-light);
    --local-hover-color: var(--color-green);
}

.teal {
    --local-light-bg: var(--color-teal-light);
    --local-hover-color: var(--color-teal);
}

.slate {
    --local-light-bg: var(--color-slate-light);
    --local-hover-color: var(--color-slate);
}

.violet {
    --local-light-bg: var(--color-violet-light);
    --local-hover-color: var(--color-violet);
}

.blue {
    --local-light-bg: var(--color-blue-light);
    --local-hover-color: var(--color-blue);
}

.orange {
    --local-light-bg: var(--color-orange-light);
    --local-hover-color: var(--color-orange);
}