.wrapper {
    min-height: calc(100vh - 100px);
    height: calc(100vh - 100px);
    padding: 30px 36px;
    background-color: #f9f9fb;
    overflow: hidden;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 100%;
}