.formLayout{
    min-height: calc(100vh - 100px);
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}