.mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formBlock {
    width: 700px;
    padding: 20px;
}

.palleteBlock{
    display: flex;
    gap: 12px;
    padding-top: 4px;
}