.iconBlock{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: white;
    background: purple;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    z-index: 0;
    width: var(--user-icon-size, 36px);
    height: var(--user-icon-size, 36px);
    font-size: 16px;
    transition: all 0.2s ease;
}

.smallerText {
  font-size: 16px;
  background-color: gray;
}

@media (max-width: 550px) {
    .iconBlock{
        width: 30px !important;
        height: 30px !important;
        font-size: 13px !important;
    }
}