.cardMain {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 10px;
    background-color: var(--color-card);
    color: var(--color-text-primary)
}

.title {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* max 1 row */
    -webkit-box-orient: vertical;
    margin-bottom: 6px;
}

.description {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* max 3 rows */
    -webkit-box-orient: vertical;
    white-space: pre-line;
    color: var(--color-text-tertiary);
}